body {
  background-color: black;
}

h1 {
  color: white;
  text-align: center;
  font-family: verdana;
  font-weight: normal;
  font-size: 50px;
}

h2 {
  color: white;
  text-align: center;
  font-family: verdana;
  font-weight: 300;
  font-size: 42px;
}

p {
  color: lightgray;
  text-align: center;
  font-family: verdana;
  font-size: 21px;
}
